*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
nav > h1{
    font-style: bold;
    font-size: 2.5em;
}
nav > h1:hover{
    cursor: pointer;
}

nav > img{
    width: 6%;
    height: auto;
    max-width: 100%;
    margin: auto;
}


nav  > div > p{
    font-size: 1em;
}

nav > p:hover{
   border-radius: 10px;
}
.ae{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-grow: 1;
    cursor: pointer;
    margin-right: -21em;
}
.sobre:hover{
    background-color: #57ace1;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
}

body{
    background-image: url('1008-desktop_1334x934.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    
   /* background-image: linear-gradient(to right, #F25C05,#F2BC1B); */
   max-width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   color: whitesmoke;
   width: 62.5%;
}
@media only screen and (max-width:850px){
    body{
        background-image: url('Sem-título.jpg');
    }

}
 a{
    display:  inline-block;
    border-radius: 30px;
    padding: 10px;
  background-image: linear-gradient(to right,#A1CFF1, #BEDDF0);
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 150px;
    left: 192px;
    width: 192px;
    text-align: center;
}
 a:hover{
    background-image: linear-gradient(to right,#a1cef1aa, #b6d4e7d0);
}
section > p{
    text-align: center;
}

.sobresairtexto{
    position:absolute;
    top:208px;
    left:112px;
}
.nuvemesol{
    right: 76px;
    top: 44px;
    width: 484px; 
    position: absolute;
    left: 0;
    width: 56%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo */
    
}

.container {
    position: relative;
    width: 400px; /* Defina a largura desejada */
    height: 200px; /* Defina a altura desejada */
  }

footer{
    position: absolute;
    top: 800px;
    color: black;
}
.texteou{
    font-size: 40px;
    font-style: bold;
    text-align: center;
}
.container > p{
    font-size: 1em;
}

@media only screen and (max-width:1440px){
    .texteou{
        margin-top: -56px;
    }
}
@media only screen and (max-width:1024px){
    nav > img{
        width: 9%;
    }
    .ae{
        margin-right: -15em;
    }
}
@media only screen and (max-width: 768px){
    nav > h1{
        font-size: 1.6em;
    }
    nav > img{
        width: 10%;
    }
    .ae{
        margin-right: -19em;
    }
}
@media only screen and (max-width: 426px){
    nav > img{
        width: 10%;
        display: none;
    }
    nav > h1{
        font-size: 1em;
        margin-top: 0.5em;
        margin-left: 0.5em;
    }
    .ae{
        margin-right: -8em;
        margin-top: 0.5em;
        font-size: 1.25em;
    }
    .sobresairtexto{
        position: absolute;
        top: 264px;
        left: 12px;
    }
    .texteou{
        margin-right: 1em;
    }
    body > a{
        position: absolute;
        bottom: 72px ;
        left: 105px;
    }
    nav > div > p{
        font-size: 0.5em;
        margin-left: 0.1em;     
    }
}
@media only screen and (max-width:378px){
    nav > h1{
        font-size: 0.75em;
        margin-top: 1em;
        margin-left: 0.2em;
    }
    .ae{
        margin-right: -7em;
        margin-top: 0.8em;
        font-size: 1.25em;
    }
    .texteou{
        margin-top: -132px;
    }
    .sobresairtexto{
        position: absolute;
        top: 264px;
        left: 35px;
        margin-right: 2em;
    }
    body > a{
        position: absolute;
        bottom: 45px ;
        left: 74px;
    }
}
@media only screen and (max-width:320px){
    .texteou{
        margin-top: -205px;
    }
}
