*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
nav > h1{
    font-style: bold;
    font-size: 2.5em;
}
nav > h1:hover{
    cursor: pointer;
}
@media only screen and (max-width: 768px){
    nav > h1{
        font-size: 2em;
    }
}
@media only screen and (max-width: 580px){
    nav > h1{
        font-size: 1.5em;
    }
}
nav > img{
    width: 6%;
    height: auto;
    max-width: 100%;
    margin: auto;
}

@media only screen and (max-width:768px){
    nav > img{
        width: 12%;
    }
}
nav  > div > p{
    font-size: 1em;
}
@media only screen and (max-width:600px){
    nav > div > p{
        font-size: 0.6em;
        margin-left: 0.1em;     
    }
}
nav > p:hover{
   border-radius: 10px;
}
.ae{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-grow: 1;
    cursor: pointer;
}
.sobre:hover{
    background-color: #57ace1;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
}

body{
    background-image: url('1008-desktop_1334x934.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    
   /* background-image: linear-gradient(to right, #F25C05,#F2BC1B); */
   max-width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   color: whitesmoke;
}
@media only screen and (max-width:850px){
    body{
        background-image: url('Sem-título.jpg');
    }

}
 a{
    display:  inline-block;
    border-radius: 30px;
    padding: 10px;
  background-image: linear-gradient(to right,#A1CFF1, #BEDDF0);
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 150px;
    left: 192px;
    width: 192px;
    text-align: center;
}
@media only screen and (max-width:600px){
    body > a{
        position:absolute;
        bottom: 125px;
        left: 192px;

    }
}

@media only screen and (max-width:500px){
     body > a{
        position: absolute;
        bottom: 40px;
        left: 170px;
     }
}
 a:hover{
    background-image: linear-gradient(to right,#a1cef1aa, #b6d4e7d0);
}
section > p{
    text-align: center;
}

.sobresairtexto{
    position:absolute;
    top:208px;
    left:112px;
}
.nuvemesol{
    right: 76px;
    top: 44px;
    width: 484px; 
    position: absolute;
    left: 0;
    width: 56%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Coloca a imagem de fundo atrás do conteúdo */
    
}

.container {
    position: relative;
    width: 400px; /* Defina a largura desejada */
    height: 200px; /* Defina a altura desejada */
  }

footer{
    position: absolute;
    top: 800px;
    color: black;
}
.texteou{
    font-size: 40px;
    font-style: bold;
    text-align: center;
}
.container > p{
    font-size: 1em;
}